<template>
  <div id="app">
    <nprogress-container></nprogress-container>
    <navbar :show="true"></navbar>
    <sidebar :show="sidebar.opened && !sidebar.hidden && loggedIn"></sidebar>
    <app-main></app-main>
    <footer-bar></footer-bar>
    <notifications></notifications>
  </div>
</template>

<script>
import NprogressContainer from "vue-nprogress/src/NprogressContainer"
import { Navbar, Sidebar, AppMain, FooterBar } from "components/layout/"
import Notifications from "components/ui/Notifications"
import { mapGetters, mapActions } from "vuex"

export default {
	components: {
		Navbar,
		Sidebar,
		AppMain,
		FooterBar,
		NprogressContainer,
		Notifications,
	},
	beforeMount() {
		const { body } = document
		const WIDTH = 768
		const RATIO = 3

		const handler = () => {
			if (!document.hidden) {
				let rect = body.getBoundingClientRect()
				let isMobile = rect.width - RATIO < WIDTH
				this.toggleDevice(isMobile ? "mobile" : "other")
				this.toggleSidebar({
					opened: !isMobile,
				})
			}
		}

		document.addEventListener("visibilitychange", handler)
		window.addEventListener("DOMContentLoaded", handler)
		window.addEventListener("resize", handler)
	},

	computed: mapGetters({
		sidebar: "sidebar",
		loggedIn: "authStatus",
	}),

	methods: mapActions(["toggleDevice", "toggleSidebar", "setNotification"]),
}
</script>

<style lang="scss">
@import "~animate.css";
.animated {
	animation-duration: 0.377s;
}

@import "~bulma";

@import "~wysiwyg.css/wysiwyg.sass";

$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

html {
	background-color: whitesmoke;
}

.nprogress-container {
	position: fixed !important;
	width: 100%;
	height: 50px;
	z-index: 2048;
	pointer-events: none;

	#nprogress {
		$color: #48e79a;

		.bar {
			background: $color;
		}
		.peg {
			box-shadow: 0 0 10px $color, 0 0 5px $color;
		}

		.spinner-icon {
			border-top-color: $color;
			border-left-color: $color;
		}
	}
}
</style>
