<template>
  <div @click="onClick">
{{rowData}}
    
    <div class="inline field">
      <label>Id: </label>
      <span>{{rowData.id}}</span>
    </div>
      <div class="inline field">
      <label>Serial: </label>
      <span>{{rowData.serial}}</span>
    </div>
    <div class="inline field">
      <label>Model: </label>
      <span>{{rowData.model.name}}</span>
    </div>
    <div class="inline field">
      <label>Category: </label>
      <span>{{rowData.category.name}}</span>
    </div>
       <div class="inline field">
      <label>Status: </label>
      <span>{{rowData.status_label.name}}</span>
    </div>
     <div class="inline field">
      <label>Assigned To: </label>
      <span>{{rowData.assigned_to}}</span>
    </div>
    <div  class="inline field">
      <label>Location: </label>
      <span>{{rowData.rtd_location.name}}</span>
    </div>
    <!-- <div v-if="rowData.location" class="inline field">
      <label>Location: </label>
      <span>{{rowData.location.name}}</span>
    </div>
       <div  class="inline field" v-else>
      <label>Location: </label>
      <span>{{rowData.rtd_location.name}}</span>
    
    </div> -->
  </div>
</template>

<script>
export default {
	props: {
		rowData: {
			type: Object,
			required: true,
		},
		rowIndex: {
			type: Number,
		},
	},
	methods: {
		onClick(event) {
			console.log("my-detail-row: on-click", event.target)
		},
	},
}
</script>
