<template>
<div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-body">

                <table
                name="activityReport"
                data-toolbar="#toolbar"
                class="table table-striped snipe-table"
                id="table"
                :data="logs"
                data-cookie="true"
                data-cookie-id-table="activityReportTable">
                    <thead>
                        <tr>
                            <th data-field="icon" style="width: 40px;" class="hidden-xs" data-formatter="iconFormatter"></th>
                            <th class="col-sm-3" data-searchable="false" data-sortable="true" data-field="created_at" data-formatter="dateDisplayFormatter">Date</th>
                            <th class="col-sm-2" data-field="admin" data-formatter="usersLinkObjFormatter">Admin</th>
                            <th class="col-sm-2" data-field="action_type">Action</th>
                            <th class="col-sm-1" data-field="type" data-formatter="itemTypeFormatter">Type</th>
                            <th class="col-sm-3" data-field="item" data-formatter="polymorphicItemFormatter">Item</th>
                            <th class="col-sm-2" data-field="target" data-formatter="polymorphicItemFormatter">To</th>
                            <th class="col-sm-1" data-field="note">Notes</th>
                            <th class="col-sm-2" data-field="log_meta" data-visible="false" data-formatter="changeLogFormatter">Changed</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
  <div>
  </div>
  </div>
</template>
<script>
export default {
	components: {},

	data() {
		return {
			// params: {
			//   symbol: 'AAPL',
			//   numberOfDays: 450,
			//   dataPeriod: 'Month'
			// },
			// symbols: ['AAPL', 'MSFT', 'JNJ', 'GOOG'],
			// periods: ['Day', 'Week', 'Month', 'Quarter', 'Year'],
			logs: [],
			// labels: [],
			isloading: false,
			// options: {
			//   legend: { display: false },
			//   animation: { duration: 0 },
			//   scales: {
			//     xAxes: [{
			//       type: 'time',
			//       time: {
			//         unit: 'month'
			//       }
			//     }]
			//   }
			// }
		}
	},

	computed: {
		stockData() {
			return {
				// labels: this.labels,
				datasets: [
					{
						//   fill: false,
						//   lineTension: 0.25,
						logs: this.logs,
						//   label: 'Close price',
						//   pointBackgroundColor: '#1fc8db',
						//   pointBorderWidth: 1
					},
				],
			}
		},
	},
	created() {
		this.loadData()
	},
	methods: {
		loadData() {
			var vm = this
			this.isloading = true
			;(this.logs.length = 0),
				this.$snipeit
					.get(
						"reports/activity",
						// transformResponse: [
						// 	data => {
						// 		return JSON.parse(data)
						// 	},
						// ],
					)
					.then(response => {
						// this.data.push(response.data)
						console.log(response.data.rows)
						vm.logs = response.data.rows
						vm.isloading = false
					})
					.catch(error => {
						console.log(error)
					})
		},
		dateDisplayFormatter(value, row) {
			if (value) {
				return value.formatted
			}
		},
		changeLogFormatter(value) {
			var result = ""
			for (var index in value) {
				result +=
					index +
					": <del>" +
					value[index].old +
					'</del>  <i class="fa fa-long-arrow-right" aria-hidden="true"></i> ' +
					value[index].new +
					"<br>"
			}
		},
		// This handles the icons and display of polymorphic entries
		polymorphicItemFormatter(value) {
			var item_destination = ""
			var item_icon

			if (value && value.type) {
				if (value.type == "asset") {
					item_destination = "hardware"
					item_icon = "fa-barcode"
				} else if (value.type == "accessory") {
					item_destination = "accessories"
					item_icon = "fa-keyboard-o"
				} else if (value.type == "component") {
					item_destination = "components"
					item_icon = "fa-hdd-o"
				} else if (value.type == "consumable") {
					item_destination = "consumables"
					item_icon = "fa-tint"
				} else if (value.type == "license") {
					item_destination = "licenses"
					item_icon = "fa-floppy-o"
				} else if (value.type == "user") {
					item_destination = "users"
					item_icon = "fa-user"
				} else if (value.type == "location") {
					item_destination = "locations"
					item_icon = "fa-map-marker"
				}

				return (
					'<nobr><a href="http://168.235.96.46:8080/' +
					item_destination +
					"/" +
					value.id +
					'" data-tooltip="true" title="' +
					value.type +
					'"><i class="fa ' +
					item_icon +
					' text-blue"></i> ' +
					value.name +
					"</a></nobr>"
				)
			} else {
				return ""
			}

			return result
		},
		itemTypeFormatter(value, row) {
			if (row && row.item && row.item.type) {
				return row.item.type
			}
		},

		dateDisplayFormatter(value, row) {
			if (value) {
				return value.formatted
			}
		},
		iconFormatter(value, row) {
			if (value) {
				return '<i class="' + value + '"></i>'
			}
		},
	},
}
</script>