<template>
<div>
 	 <tabs animation="slide" :only-fade="false">
       <tab-pane label="Inventory/Hardware">

  
    <my-vuetable
      api-url="http://168.235.96.46:8080/api/v1/reports/activity"
      :fields="fields"
      :sort-order="sortOrder"
	  data-path="rows"
      :http-options="httpOptions"	 
	  pagination-path="" 
    ></my-vuetable>  

		      </tab-pane>
       <tab-pane label="Phone Logs">
		   
       </tab-pane>	   
	   </tabs>

  </div>
</template>



<script>
import Vue from "vue"
import MyVuetable from "./MyVuetable"
import FieldDefs from "./FieldDefs.js"
import { Tabs, TabPane } from "vue-bulma-tabs"

// import DetailRow from "./DetailRow"
// Vue.component("my-detail-row", DetailRow)
var token =
	"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjY4Zjg1MzAzNDlhMDhlNzAwODYyYzcwNDM5OTRjMDhhNTBlMWI2NGE0ZWYxNjA0NjM3ZjcwNjc4Y2QyYjViMmQyM2NmNTU0NzExYmMwNTg5In0.eyJhdWQiOiIxIiwianRpIjoiNjhmODUzMDM0OWEwOGU3MDA4NjJjNzA0Mzk5NGMwOGE1MGUxYjY0YTRlZjE2MDQ2MzdmNzA2NzhjZDJiNWIyZDIzY2Y1NTQ3MTFiYzA1ODkiLCJpYXQiOjE1MTQ1MzE4OTYsIm5iZiI6MTUxNDUzMTg5NiwiZXhwIjoxNTQ2MDY3ODk2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.dyzpV0D-KkEcmPwTXXnCYkSbvKlqCBYDZMBgzNQvRz9ydgygOVEX8RcRigEjtAIYD4vquok1aq3SmHm_4ZNuOyux82sZt6HiucBJCWzZhWJ1t5sEeMuQaWB2hDxQEu8HbS-xRYl4df94BP_vJM-v-FfKCJ3x-QZaY6Srmu9m8hzZWGfG-U7jbBDxDV1RFMyD6506i0B1Z-cTrBBSY4q0V4Ke6JF7LYzX_sm3KoV6NOEjGqKtNqWwOOfCXfdwgsBV3GUCZCRDBdBXQSACBN8cUl5syalP9tIIuZ4Zzzcxff-4WzuEWwkQL5gYSX5bESG59NmEDFyGI7dmZXt9ytHOsQZGy0bOgRJkNtqAID1F-0TXduMr0pJzszRtVawqqrVWQ2oS2UvI8JKzv4F5c7m9A6l3G9i3CnWT5wgN8QLNsh0D7PlrmRQQl5P8D4WjxfHsvyKn7cp4oH605Rupbx6UG-TsFR4RoNQQ4xJW6zeNnIEOtPTFftJNNIxQnt4JDh2v8fd5hbg0MkDHjt-nflVvf53KfPnLR_gSqvyBZzmKXWAz8zbH_ISWLY7cywvmzA5qYtdr-UDetU7-KEwiSbVZH-FY4GYBlcDR4C35nC9CO1z_e8x-0p4WBjvDNYO7Q3UWt7U8EsnAXHGIKcNWO38zFJo0VHqgUCW7zBtwiPCAA5o"

export default {
	name: "logs",
	components: {
		MyVuetable,
		Tabs,
		TabPane,
	},
	data() {
		return {
			fields: FieldDefs,
			isActive: false,
			sortOrder: [
				{
					field: "id",
					sortField: "id",
					direction: "dsc",
				},
			],
			httpOptions: {
				headers: {
					Authorization: "Bearer " + token,
					Accept: "application/json",
				},
			},
		}
	},
	created() {
		// this.listFiles()
	},
	methods: {
		// listFiles(bucket) {
		// 	//  listFiles("staging.andrews2-189110.appspot.com") {
		// 	// [START storage_list_files]
		// 	// Imports the Google Cloud client library
		// 	const Storage = require("@google-cloud/storage")

		// 	// Creates a client
		// 	const storage = new Storage()

		// 	/**
		// 	 * TODO(developer): Uncomment the following line before running the sample.
		// 	 */
		// 	const bucketName = "staging.andrews2-189110.appspot.com"

		// 	// Lists files in the bucket
		// 	storage
		// 		.bucket(bucketName)
		// 		.getFiles()
		// 		.then(results => {
		// 			const files = results[0]

		// 			console.log("Files:")
		// 			files.forEach(file => {
		// 				console.log(file.name)
		// 			})
		// 		})
		// 		.catch(err => {
		// 			console.error("ERROR:", err)
		// 		})
		// 	// [END storage_list_files]
		// },

		// This only works for model index pages because it uses the row's model ID
		genericRowLinkFormatter(destination) {
			return function(value, row) {
				if (value) {
					return (
						'<a href="http://168.235.96.46:8080/' +
						destination +
						"/" +
						row.id +
						'"> ' +
						value +
						"</a>"
					)
				}
			}
		},

		// Use this when we're introspecting into a column object and need to link
		genericColumnObjLinkFormatter(destination) {
			return function(value, row) {
				if (value && value.status_meta) {
					var text_color
					var icon_style

					switch (value.status_meta) {
						case "deployed":
							text_color = "blue"
							icon_style = "fa-circle"
							break
						case "deployable":
							text_color = "green"
							icon_style = "fa-circle"
							break
						case "pending":
							text_color = "orange"
							icon_style = "fa-circle"
							break
						default:
							text_color = "red"
							icon_style = "fa-times"
					}

					return (
						'<nobr><a href="http://168.235.96.46:8080/' +
						destination +
						"/" +
						value.id +
						'" data-tooltip="true" title="' +
						value.status_meta +
						'"> <i class="fa ' +
						icon_style +
						" text-" +
						text_color +
						'"></i> ' +
						value.name +
						"</a></nobr>"
					)
				} else if (value && value.name) {
					return (
						'<nobr><a href="http://168.235.96.46:8080/' +
						destination +
						"/" +
						value.id +
						'"> ' +
						value.name +
						"</a></span>"
					)
				}
			}
		},

		// Make the edit/delete buttons
		genericActionsFormatter(destination) {
			return function(value, row) {
				var actions = "<nobr>"

				var dest = destination
				if (destination == "groups") {
					var dest = "admin/groups"
				}

				if (
					row.available_actions &&
					row.available_actions.clone === true
				) {
					actions +=
						'<a href="http://168.235.96.46:8080/' +
						dest +
						"/" +
						row.id +
						'/clone" class="btn btn-sm btn-info" data-tooltip="true" title="Clone"><i class="fa fa-copy"></i></a>&nbsp;'
				}

				if (
					row.available_actions &&
					row.available_actions.update === true
				) {
					actions +=
						'<a href="http://168.235.96.46:8080/' +
						dest +
						"/" +
						row.id +
						'/edit" class="btn btn-sm btn-warning" data-tooltip="true" title="Update"><i class="fa fa-pencil"></i></a>&nbsp;'
				}

				if (
					row.available_actions &&
					row.available_actions.delete === true
				) {
					actions +=
						'<a href="http://168.235.96.46:8080/' +
						dest +
						"/" +
						row.id +
						'" ' +
						' class="btn btn-danger btn-sm delete-asset"  data-tooltip="true"  ' +
						' data-toggle="modal" ' +
						' data-content="Are you sure you wish to delete ' +
						row.name +
						'?" ' +
						' data-title="Delete" onClick="return false;">' +
						'<i class="fa fa-trash"></i></a>&nbsp;'
				} else {
					actions +=
						'<a class="btn btn-danger btn-sm delete-asset disabled" onClick="return false;"><i class="fa fa-trash"></i></a>&nbsp;'
				}

				if (
					row.available_actions &&
					row.available_actions.restore === true
				) {
					actions +=
						'<a href="http://168.235.96.46:8080/' +
						dest +
						"/" +
						row.id +
						'/restore" class="btn btn-sm btn-warning" data-tooltip="true" title="Restore"><i class="fa fa-retweet"></i></a>&nbsp;'
				}

				actions += "</nobr>"
				return actions
			}
		},

		// This handles the icons and display of polymorphic entries
		polymorphicItemFormatter(value) {
			var item_destination = ""
			var item_icon

			if (value && value.type) {
				if (value.type == "asset") {
					item_destination = "hardware"
					item_icon = "fa-barcode"
				} else if (value.type == "accessory") {
					item_destination = "accessories"
					item_icon = "fa-keyboard-o"
				} else if (value.type == "component") {
					item_destination = "components"
					item_icon = "fa-hdd-o"
				} else if (value.type == "consumable") {
					item_destination = "consumables"
					item_icon = "fa-tint"
				} else if (value.type == "license") {
					item_destination = "licenses"
					item_icon = "fa-floppy-o"
				} else if (value.type == "user") {
					item_destination = "users"
					item_icon = "fa-user"
				} else if (value.type == "location") {
					item_destination = "locations"
					item_icon = "fa-map-marker"
				}

				return (
					'<nobr><a href="http://168.235.96.46:8080/' +
					item_destination +
					"/" +
					value.id +
					'" data-tooltip="true" title="' +
					value.type +
					'"><i class="fa ' +
					item_icon +
					' text-blue"></i> ' +
					value.name +
					"</a></nobr>"
				)
			} else {
				return ""
			}
		},

		// This just prints out the item type in the activity report
		itemTypeFormatter(value, row) {
			if (row && row.item && row.item.type) {
				return row.item.type
			}
		},

		genericCheckinCheckoutFormatter(destination) {
			return function(value, row) {
				// The user is allowed to check items out, AND the item is deployable
				if (
					row.available_actions.checkout == true &&
					row.user_can_checkout == true &&
					!row.assigned_to
				) {
					// case for licenses
					if (row.next_seat) {
						return (
							'<a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.next_seat +
							'/checkout" class="btn btn-sm bg-maroon" data-tooltip="true" title="Check this item out to a user">Checkout</a>'
						)
					} else {
						return (
							'<a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.id +
							'/checkout" class="btn btn-sm bg-maroon" data-tooltip="true" title="Check this item out to a user">Checkout</a>'
						)
					}

					// The user is allowed to check items out, but the item is not deployable
				} else if (
					row.user_can_checkout == false &&
					row.available_actions.checkout == true &&
					!row.assigned_to
				) {
					return '<div  data-tooltip="true" title="This item has a status label that is undeployable and cannot be checked out at this time."><a class="btn btn-sm bg-maroon disabled">Checkout</a></div>'

					// The user is allowed to check items in
				} else if (row.available_actions.checkin == true) {
					if (row.assigned_to) {
						return (
							'<nobr><a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.id +
							'/checkin" class="btn btn-sm bg-purple" data-tooltip="true" title="Check this item in so it is available for re-imaging, re-issue, etc.">Checkin</a>'
						)
					} else if (row.assigned_pivot_id) {
						return (
							'<nobr><a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.assigned_pivot_id +
							'/checkin" class="btn btn-sm bg-purple" data-tooltip="true" title="Check this item in so it is available for re-imaging, re-issue, etc.">Checkin</a>'
						)
					}
				}
			}
		},
		customFieldsFormatter(value, row) {
			if (!this || !this.title) {
				return ""
			}

			var field_column = this.title

			// Pull out any HTMl that might be passed via the presenter
			// (for example, the locked icon for encrypted fields)
			var field_column_plain = field_column.replace(
				/<(?:.|\n)*?> ?/gm,
				"",
			)
			if (row.custom_fields && row.custom_fields[field_column_plain]) {
				// If the field type needs special formatting, do that here
				if (
					row.custom_fields[field_column_plain].field_format &&
					row.custom_fields[field_column_plain].value
				) {
					if (
						row.custom_fields[field_column_plain].field_format ==
						"URL"
					) {
						return (
							'<a href="' +
							row.custom_fields[field_column_plain].value +
							'" target="_blank" rel="noopener">' +
							row.custom_fields[field_column_plain].value +
							"</a>"
						)
					} else if (
						row.custom_fields[field_column_plain].field_format ==
						"EMAIL"
					) {
						return (
							'<a href="mailto:' +
							row.custom_fields[field_column_plain].value +
							'">' +
							row.custom_fields[field_column_plain].value +
							"</a>"
						)
					}
				}
				return row.custom_fields[field_column_plain].value
			}
		},

		createdAtFormatter(value) {
			if (value && value.date) {
				return value.date
			}
		},

		groupsFormatter(value) {
			if (value) {
				var groups = ""
				for (var index in value.rows) {
					groups +=
						'<a href="http://168.235.96.46:8080/admin/groups/' +
						value.rows[index].id +
						'" class="label label-default"> ' +
						value.rows[index].name +
						"</a> "
				}
				return groups
			}
		},

		changeLogFormatter(value) {
			var result = ""
			for (var index in value) {
				result +=
					index +
					": <del>" +
					value[index].old +
					'</del>  <i class="fa fa-long-arrow-right" aria-hidden="true"></i> ' +
					value[index].new +
					"<br>"
			}

			return result
		},

		deployedLocationFormatter(row, value) {
			if (row && row != undefined) {
				return (
					'<a href="http://168.235.96.46:8080/locations/' +
					row.id +
					'"> ' +
					row.name +
					"</a>"
				)
			} else if (value.rtd_location) {
				return (
					'<a href="http://168.235.96.46:8080/locations/' +
					value.rtd_location.id +
					'" data-tooltip="true" title="Default Location"> ' +
					value.rtd_location.name +
					"</a>"
				)
			}
		},

		groupsAdminLinkFormatter(value, row) {
			return (
				'<a href="http://168.235.96.46:8080/admin/groups/' +
				row.id +
				'"> ' +
				value +
				"</a>"
			)
		},

		trueFalseFormatter(value, row) {
			if (value && (value == "true" || value == "1")) {
				return '<i class="fa fa-check text-success"></i>'
			} else {
				return '<i class="fa fa-times text-danger"></i>'
			}
		},

		dateDisplayFormatter(value, row) {
			if (value) {
				return value.formatted
			}
		},

		iconFormatter(value, row) {
			if (value) {
				return '<i class="' + value + '"></i>'
			}
		},

		emailFormatter(value, row) {
			if (value) {
				return '<a href="mailto:' + value + '"> ' + value + "</a>"
			}
		},

		linkFormatter(value, row) {
			if (value) {
				return '<a href="' + value + '"> ' + value + "</a>"
			}
		},

		assetCompanyFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?company_id=' +
					row.id +
					'"> ' +
					value +
					"</a>"
				)
			}
		},

		assetCompanyObjFilterFormatter(value, row) {
			if (row && row.company) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?company_id=' +
					row.company.id +
					'"> ' +
					row.company.name +
					"</a>"
				)
			}
		},

		usersCompanyObjFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/users/?company_id=' +
					row.id +
					'"> ' +
					value +
					"</a>"
				)
			} else {
				return value
			}
		},

		employeeNumFormatter(value, row) {
			if (row && row.assigned_to && row.assigned_to.employee_number) {
				return (
					'<a href="http://168.235.96.46:8080/users/' +
					row.assigned_to.id +
					'"> ' +
					row.assigned_to.employee_number +
					"</a>"
				)
			}
		},

		orderNumberObjFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?order_number=' +
					row.order_number +
					'"> ' +
					row.order_number +
					"</a>"
				)
			}
		},

		imageFormatter(value, row) {
			if (value) {
				return (
					'<a href="' +
					value +
					'" data-toggle="lightbox" data-type="image"><img src="' +
					value +
					'" style="max-height: 50px; width: auto;" class="img-responsive"></a>'
				)
			}
		},

		sumFormatter(data) {
			var field = this.field
			var total_sum = data.reduce(function(sum, row) {
				return sum + (parseFloat(row[field]) || 0)
			}, 0)
			return total_sum.toFixed(2)
		},
	},
}
</script>
<style>
#logs {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	min-height: 700px;
}
.modal-card-body {
	min-height: 300px;
}
</style>