<template>
    <div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#details" data-toggle="tab">
                        <span class="hidden-lg hidden-md">
                            <i class="fa fa-info-circle"></i>
                        </span>
                        <span class="hidden-xs hidden-sm">Details</span>
                    </a>
                </li>
                <li>
                    <a href="#maintenances" data-toggle="tab">
                        <span class="hidden-lg hidden-md">
                            <i class="fa fa-wrench"></i>
                        </span>
                        <span class="hidden-xs hidden-sm">Maintenances</span>
                    </a>
                </li>
                <li>
                    <a href="#history" data-toggle="tab">
                        <span class="hidden-lg hidden-md">
                            <i class="fa fa-history"></i>
                        </span>
                        <span class="hidden-xs hidden-sm">History</span>
                    </a>
                </li>
                <li>
                    <a href="#files" data-toggle="tab">
                        <span class="hidden-lg hidden-md">
                            <i class="fa fa-files-o"></i>
                        </span>
                        <span class="hidden-xs hidden-sm">Files</span>
                    </a>
                </li>
                <li class="pull-right">
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="details">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive" style="margin-top: 10px;">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Status</td>
                                            <td>

                                                <i class="fa fa-circle text-green"></i>
                                                <a href="http://168.235.96.46:8080/statuslabels/2">
                                                    Ready to Deploy</a>
                                                <label class="label label-default">deployable</label>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Serial</td>
                                            <td>H7NPCX067986H6C</td>
                                        </tr>
                                        <tr>
                                            <td>Manufacturer</td>
                                            <td>
                                                <ul class="list-unstyled" style="line-height: 25px;">

                                                    <li>
                                                        <a href="http://168.235.96.46:8080/manufacturers/1">
                                                    </a>
                                                        
                                                            Asus</li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Model</td>
                                            <td>
                                                <a href="http://168.235.96.46:8080/models/1">
                                                    Asus Tablet
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Model No.</td>
                                            <td>
                                                ZenPad Z8s
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                MAC Address
                                            </td>
                                            <td>


                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Purchase Date</td>
                                            <td>
                                                2017-10-01
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Supplier</td>
                                            <td>
                                                <a href="http://168.235.96.46:8080/suppliers/1">
                                                    Verizon
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>EOL Rate</td>
                                            <td>
                                                76 months ( EOL Date: 2024-02-01 ( 5 years, 11 months )

                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Notes</td>
                                            <td> </td>
                                        </tr>

                                        <tr>
                                            <td>Location</td>
                                            <td>
                                                <a href="http://168.235.96.46:8080/locations/1">
                                                    City of Tyler
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Default Location</td>
                                            <td>
                                                <a href="http://168.235.96.46:8080/locations/1">
                                                    City of Tyler
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Created at</td>
                                            <td>
                                                2017-12-29 12:20 AM
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Updated at</td>
                                            <td>
                                                2018-02-10 08:39 PM
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /table-responsive -->
                        </div>
                        <!-- /col-md-8 -->

                        <div class="col-md-4">
                            <img src="http://168.235.96.46:8080/uploads/models/asus-zenpad-z8s-zt582kl-2jpg.jpg" class="assetimg img-responsive">


                        </div>
                        <!-- div.col-md-4 -->
                    </div>
                    <!-- /row -->
                </div>
                <!-- /.tab-pane asset details -->

                <div class="tab-pane fade" id="maintenances">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Asset Maintenances [
                                <a href="http://168.235.96.46:8080/hardware/maintenances/create?asset_id=1">Add New</a> ]
                            </h6>

                            <!-- Asset Maintenance table -->
                            <div class="alert alert-info alert-block">
                                <i class="fa fa-info-circle"></i>
                                No Results.
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane maintenances -->

                <div class="tab-pane fade" id="history">
                    <!-- checked out assets table -->
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped snipe-table" name="asset-history" id="table" data-sort-order="desc"
                                data-show-columns="true" data-search="true" data-cookie="true" data-show-refresh="true" data-cookie-id-table="asset-history"
                                data-url="http://168.235.96.46:8080/api/v1/reports/activity?item_id=1&amp;item_type=asset">
                                <thead>
                                    <tr>
                                        <th data-field="icon" style="width: 40px;" class="hidden-xs" data-formatter="iconFormatter"></th>
                                        <th class="col-sm-2" data-field="created_at" data-formatter="dateDisplayFormatter">Date</th>
                                        <th class="col-sm-1" data-field="admin" data-formatter="usersLinkObjFormatter">Admin</th>
                                        <th class="col-sm-1" data-field="action_type">Action</th>
                                        <th class="col-sm-2" data-field="item" data-formatter="polymorphicItemFormatter">Item</th>
                                        <th class="col-sm-2" data-field="target" data-formatter="polymorphicItemFormatter">Target</th>
                                        <th class="col-sm-2" data-field="note">Notes</th>
                                        <th class="col-md-3" data-field="signature_file" data-visible="false" data-formatter="imageFormatter">Signature</th>
                                        <th class="col-sm-2" data-field="log_meta" data-visible="false" data-formatter="changeLogFormatter">Changed</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane history -->

                <div class="tab-pane fade" id="files">
                    <div class="row">

                        <form method="POST" action="http://168.235.96.46:8080/hardware/1/upload" accept-charset="UTF-8" class="form-horizontal" enctype="multipart/form-data">
                            <input name="_token" type="hidden" value="TYLlpcfKlSaq2Penz7lpGArzuCAEWOumzhQ5YCZF">

                            <div class="col-md-2">
                                <span class="btn btn-default btn-file">Browse for file...
                                    <input multiple="multiple" name="assetfile[]" type="file">
                                </span>
                            </div>
                            <div class="col-md-7">
                                <input class="form-control" placeholder="Notes" name="notes" type="text">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>

                            <div class="col-md-12">
                                <p>Allowed filetypes are png, gif, jpg, jpeg, doc, docx, pdf, txt, zip, and rar.</p>
                                <hr>
                            </div>

                        </form>

                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-md-4">Notes</th>
                                        <th class="col-md-2"></th>
                                        <th class="col-md-4">File</th>
                                        <th class="col-md-2"></th>
                                        <th class="col-md-2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="4">
                                            No Results.
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.tab-pane files -->
            </div>
            <!-- /. tab-content -->
    </div>
</div>
</template>

<script>
</script>
<style>

</style>