<template>
<div class="row">
   <div class="col-md-8 col-md-offset-2">
      <div class="box box-default">
         <div class="box-header with-border">
            <h3 class="box-title">
               Asus Tablet (00001)
            </h3>
            <div class="box-tools pull-right">
               <button class="slideout-menu-toggle btn btn-box-tool btn-box-tool-lg" data-toggle="tooltip" title="Help"><i class="fa fa-question"></i></button>
            </div>
         </div>
         <!-- /.box-header -->
         <div class="box-body">
            <form id="create-form" class="form-horizontal" method="post" action="http://168.235.96.46:8080/hardware/1" autocomplete="off" role="form" enctype="multipart/form-data">
               <input type="hidden" name="_method" value="PUT">
               <!-- CSRF Token -->
               <input type="hidden" name="_token" value="TYLlpcfKlSaq2Penz7lpGArzuCAEWOumzhQ5YCZF">
               <!-- Company -->
               <div id="company_id" class="form-group">
                  <label for="company_id" class="col-md-3 control-label">Company</label>
                  <div class="col-md-7">
                     <select class="js-data-ajax" data-endpoint="companies" name="company_id" style="width: 100%" id="company_select">
                        <option value="">Select Company</option>
                     </select>
                  </div>
               </div>
               <!-- Asset Tag -->
               <div class="form-group ">
                  <label for="asset_tag" class="col-md-3 control-label">Asset Tag</label>
                  <div class="col-md-7 col-sm-12 required">
                     <input class="form-control" type="text" name="asset_tag" id="asset_tag" value="00001" />
                  </div>
               </div>
               <!-- Asset Model -->
               <div id="model_id" class="form-group">
                  <label for="model_id" class="col-md-3 control-label">Model</label>
                  <div class="col-md-7 required">
                     <select class="js-data-ajax" data-endpoint="models" name="model_id" style="width: 100%" id="model_select_id">
                        <option value="1" selected="selected">
                           Asus Tablet
                        </option>
                     </select>
                  </div>
                  <div class="col-md-1 col-sm-1 text-left">
                     <a href='http://168.235.96.46:8080/modals/model' data-toggle="modal"  data-target="#createModal" data-dependency="model" data-select='model_select_id' class="btn btn-sm btn-default">New</a>
                     <span class="mac_spinner" style="padding-left: 10px; color: green; display:none; width: 30px;"><i class="fa fa-spinner fa-spin"></i> </span>
                  </div>
               </div>
               <div id='custom_fields_content'>
                  <!-- Custom Fields -->
                  <div class="form-group">
                     <label for="_snipeit_mac_address_1" class="col-md-3 control-label">MAC Address </label>
                     <div class="col-md-7 col-sm-12">
                        <!-- Date field -->
                        <input type="text" value="" id="_snipeit_mac_address_1" class="form-control" name="_snipeit_mac_address_1" placeholder="Enter mac text">
                     </div>
                  </div>
               </div>
               <!-- Status -->
               <div class="form-group ">
                  <label for="status_id" class="col-md-3 control-label">Status</label>
                  <div class="col-md-7 col-sm-11 required">
                     <select class="select2 status_id" style="width:100%" id="status_select_id" name="status_id">
                        <option value="">Select Status</option>
                        <option value="2" selected="selected">Ready to Deploy</option>
                        <option value="7">Needs Post Inspection</option>
                        <option value="1">Pending</option>
                        <option value="3">Archived</option>
                        <option value="4">Pre Inspected</option>
                        <option value="5">On Hold</option>
                        <option value="6">Work started</option>
                        <option value="8">Passed Inspection</option>
                     </select>
                  </div>
                  <div class="col-md-2 col-sm-2 text-left">
                     <a href='http://168.235.96.46:8080/modals/statuslabel' data-toggle="modal"  data-target="#createModal" data-dependency='statuslabel' data-select='status_select_id' class="btn btn-sm btn-default">New</a>
                     <span class="status_spinner" style="padding-left: 10px; color: green; display:none; width: 30px;"><i class="fa fa-spinner fa-spin"></i> </span>
                  </div>
                  <div class="col-md-7 col-sm-11 col-md-offset-3" id="status_helptext">
                     <p id="selected_status_status" style="display:none;"></p>
                  </div>
               </div>
               <!-- Serial -->
               <div class="form-group ">
                  <label for="serial" class="col-md-3 control-label">Serial </label>
                  <div class="col-md-7 col-sm-12">
                     <input class="form-control" type="text" name="serial" id="serial" value="H7NPCX067986H6C" />
                  </div>
               </div>
               <!-- Name -->
               <div class="form-group ">
                  <label for="name" class="col-md-3 control-label">Asset Name</label>
                  <div class="col-md-7 col-sm-12">
                     <input class="form-control" type="text" name="name" id="name" value="" />
                  </div>
               </div>
               <!-- Purchase Date -->
               <div class="form-group ">
                  <label for="purchase_date" class="col-md-3 control-label">Purchase Date</label>
                  <div class="input-group col-md-3">
                     <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd"  data-autoclose="true">
                        <input type="text" class="form-control" placeholder="Select Date (YYYY-MM-DD)" name="purchase_date" id="purchase_date" value="2017-10-01">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                     </div>
                  </div>
               </div>
               <div id="assigned_user" class="form-group">
                  <label for="supplier_id" class="col-md-3 control-label">Supplier</label>
                  <div class="col-md-7">
                     <select class="js-data-ajax" data-endpoint="suppliers" name="supplier_id" style="width: 100%" id="supplier_select">
                        <option value="1" selected="selected">
                           Verizon
                        </option>
                     </select>
                  </div>
                  <div class="col-md-1 col-sm-1 text-left">
                     <a href='http://168.235.96.46:8080/modals/supplier' data-toggle="modal"  data-target="#createModal" data-dependency="supplier" data-select='supplier_select' class="btn btn-sm btn-default">New</a>
                  </div>
               </div>
               <!-- Order Number -->
               <div class="form-group ">
                  <label for="order_number" class="col-md-3 control-label">Order Number</label>
                  <div class="col-md-7 col-sm-12">
                     <input class="form-control" type="text" name="order_number" id="order_number" value="" />
                  </div>
               </div>
               <!-- Purchase Cost -->
               <div class="form-group ">
                  <label for="purchase_cost" class="col-md-3 control-label">Purchase Cost</label>
                  <div class="col-md-9">
                     <div class="input-group col-md-3" style="padding-left: 0px;">
                        <input class="form-control" type="text" name="purchase_cost" id="purchase_cost" value="" />
                        <span class="input-group-addon">
                        </span>
                     </div>
                     <div class="col-md-9" style="padding-left: 0px;">
                     </div>
                  </div>
               </div>
               <!-- Warranty -->
               <div class="form-group ">
                  <label for="warranty_months" class="col-md-3 control-label">Warranty</label>
                  <div class="col-md-9">
                     <div class="input-group col-md-3" style="padding-left: 0px;">
                        <input class="form-control" type="text" name="warranty_months" id="warranty_months" value="0" />
                        <span class="input-group-addon">months</span>
                     </div>
                     <div class="col-md-9" style="padding-left: 0px;">
                     </div>
                  </div>
               </div>
               <!-- Notes -->
               <div class="form-group ">
                  <label for="notes" class="col-md-3 control-label">Notes</label>
                  <div class="col-md-7 col-sm-12">
                     <textarea class="col-md-6 form-control" id="notes" name="notes"></textarea>
                  </div>
               </div>
               <!-- Location -->
               <div id="rtd_location_id" class="form-group">
                  <label for="rtd_location_id" class="col-md-3 control-label">Default Location</label>
                  <div class="col-md-7">
                     <select class="js-data-ajax" data-endpoint="locations" name="rtd_location_id" style="width: 100%" id="rtd_location_id_location_select">
                        <option value="1" selected="selected">
                           City of Tyler
                        </option>
                     </select>
                  </div>
                  <div class="col-md-1 col-sm-1 text-left">
                     <a href='http://168.235.96.46:8080/modals/location' data-toggle="modal"  data-target="#createModal" data-dependency="location" data-select='rtd_location_id_location_select' class="btn btn-sm btn-default">New</a>
                  </div>
               </div>
               <!-- Requestable -->
               <div class="form-group">
                  <div class="col-sm-offset-3 col-sm-10">
                     <label>
                     <input type="checkbox" value="1" name="requestable" id="requestable" class="minimal" > Requestable
                     </label>
                  </div>
               </div>
               <!-- Image -->
               <div class="form-group ">
                  <label class="col-md-3 control-label" for="image">Upload Image</label>
                  <div class="col-md-5">
                     <input type="file" id="file-upload" accept="image/*" name="image">
                  </div>
               </div>
               <div class="box-footer text-right">
                  <a class="btn btn-link" href="http://168.235.96.46:8080/hardware">Cancel</a>
                  <button type="submit" class="btn btn-success"><i class="fa fa-check icon-white"></i> Save</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <div class="slideout-menu">
      <a href="#" class="slideout-menu-toggle pull-right">×</a>
      <h3>
         About Assets
      </h3>
      <p>Assets are items tracked by serial number or asset tag.  They tend to be higher value items where identifying a specific item matters. </p>
   </div>
</div>
</template>

<script>
</script>