<template>
<div :v-if="ready" class="control">
<div v-show="success" class="notification is-success">
  <button class="delete"></button>
  Asset was successfully updated. Good job!
</div>
<div v-show="error" class="notification is-danger">
  <button class="delete"></button>
  Houston we have a problem! {{error}}
</div>

<div class="field">
  <label class="label">Asset Tag</label>
  <div class="control">
    <input class="input" type="text"  :value="asset.asset_tag">
  </div>
</div>


<div class="field">
  <label class="label">Model</label>
  <div class="control is-expanded">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>Placeholder</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Mac Address</label>
  <div class="control">
    <!-- <input class="input" type="text" placeholder="Electronic devices" :value="asset.custom_fields.MAC_address.value"> -->
  </div>
</div>

<div class="field">
  <label class="label">Status</label>
  <div class="control">
    <div class="select" :value="asset.status_label">
      <select>
        <option>Select dropdown</option>          
        <option>Ready to Deploy</option>
        <option>Needs post Inspection</option>
        <option>Pending</option>
        <option>Archived</option>
        <option>Pre Inspected</option>
        <option>On Hold</option>
        <option>Work Started</option>
        <option>Passed Inspection</option>
      </select>
    </div>
  </div>
</div> 

<div class="field">
  <label class="label">Serial</label>
  <div class="control">
    <input class="input" type="text" placeholder="Required on all items over $50.00" :value="asset.serial">
  </div>
</div>

<div class="field">
  <label class="label">Asset Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Drizair 1200" :value="asset.name">
  </div>
</div>

<div class="field ">
  <label class="label">Purchase Date</label>
   <div class="control">
            <input type="text" class="form-control" placeholder="Select Date (YYYY-MM-DD)" name="purchase_date" id="purchase_date" :value="2017-10-01">
       
   </div>
</div>

<div class="field">
  <label class="label">Supplier</label>
  <div class="control">
    <div class="select" :value="asset.supplier">
      <select>
        <option>Select dropdown</option>
        <option>Placeholder</option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Order Number</label>
  <div class="control">
    <input class="input" type="text" placeholder="Please ensure accuracy" :value="asset.order_number">
  </div>
</div>

<div class="field">
  <label class="label">Purchase Cost</label>
  <div class="control">
    <input class="input" type="text" placeholder="per unit! (bottle, bag of rags, hose etc." :value="asset.purchase_cost">
  </div>
</div>

<div class="field">
  <label class="label">Warranty</label>
  <div class="control">
    <input class="input" type="text" placeholder="in MONTHS" :value="asset.warrant_months">
  </div>
</div>

<div class="field">
    <label class="label">Notes</label>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Any questions about how to fill out this form put here" :value="asset.notes"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Default Location</label>
  <div class="control">
    <div class="select" :value="asset.rtd_location">
      <select>
        <option>Select dropdown</option>
        <option>Placeholder</option>
      </select>
    </div>
  </div>
</div>

<div class="file">
  <label class="file-label">
    <input class="file-input" type="file" name="item_image">
    <span class="file-cta">
      <span class="file-icon">
        <i class="fa fa-upload"></i>
      </span>
      <span class="file-label">
        Image Upload
      </span>
    </span>
  </label>
</div>

<div class="field is-grouped is-grouped-right">
  <p class="control">
    <a class="button is-primary" @click="sendForm()">
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>


</div>
</template>

<script>
import Vue from "vue"
import vSelect from "vue-select"
import router from "../../../router"
// var token =
// 	"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjY4Zjg1MzAzNDlhMDhlNzAwODYyYzcwNDM5OTRjMDhhNTBlMWI2NGE0ZWYxNjA0NjM3ZjcwNjc4Y2QyYjViMmQyM2NmNTU0NzExYmMwNTg5In0.eyJhdWQiOiIxIiwianRpIjoiNjhmODUzMDM0OWEwOGU3MDA4NjJjNzA0Mzk5NGMwOGE1MGUxYjY0YTRlZjE2MDQ2MzdmNzA2NzhjZDJiNWIyZDIzY2Y1NTQ3MTFiYzA1ODkiLCJpYXQiOjE1MTQ1MzE4OTYsIm5iZiI6MTUxNDUzMTg5NiwiZXhwIjoxNTQ2MDY3ODk2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.dyzpV0D-KkEcmPwTXXnCYkSbvKlqCBYDZMBgzNQvRz9ydgygOVEX8RcRigEjtAIYD4vquok1aq3SmHm_4ZNuOyux82sZt6HiucBJCWzZhWJ1t5sEeMuQaWB2hDxQEu8HbS-xRYl4df94BP_vJM-v-FfKCJ3x-QZaY6Srmu9m8hzZWGfG-U7jbBDxDV1RFMyD6506i0B1Z-cTrBBSY4q0V4Ke6JF7LYzX_sm3KoV6NOEjGqKtNqWwOOfCXfdwgsBV3GUCZCRDBdBXQSACBN8cUl5syalP9tIIuZ4Zzzcxff-4WzuEWwkQL5gYSX5bESG59NmEDFyGI7dmZXt9ytHOsQZGy0bOgRJkNtqAID1F-0TXduMr0pJzszRtVawqqrVWQ2oS2UvI8JKzv4F5c7m9A6l3G9i3CnWT5wgN8QLNsh0D7PlrmRQQl5P8D4WjxfHsvyKn7cp4oH605Rupbx6UG-TsFR4RoNQQ4xJW6zeNnIEOtPTFftJNNIxQnt4JDh2v8fd5hbg0MkDHjt-nflVvf53KfPnLR_gSqvyBZzmKXWAz8zbH_ISWLY7cywvmzA5qYtdr-UDetU7-KEwiSbVZH-FY4GYBlcDR4C35nC9CO1z_e8x-0p4WBjvDNYO7Q3UWt7U8EsnAXHGIKcNWO38zFJo0VHqgUCW7zBtwiPCAA5o"

export default {
	name: "hardwareedit",
	components: {},
	data() {
		return {
			success: false,
			error: false,
			asset: {},
			ready: false,
		}
	},

	created() {
		this.success = false
		this.error = false
		this.getAsset()
	},
	methods: {
		getAsset: function() {
			var vm = this
			this.$snipeit
				.get("hardware/" + vm.$route.params.id.substring(1))
				.then(response => {
					console.log(response.data)
					vm.asset = response.data
					if (vm.asset.asset_tag) {
						vm.ready = true
					} else {
						console.log("error")
					}
					// this.userList = response.data.rows
					// if (response.data.rows.length > 0) {
					// 	vm.selectOptions = []
					// }

					// for (var user of response.data.rows) {
					// 	var item = {}
					// 	;(item.label = user.name), (item.value = user.id)
					// 	vm.selectOptions.push(item)
					// }
				})
				.catch(e => {
					console.log(e)
				})
		},
		sendForm: function() {
			var vm = this
			console.log(vm.asset)
			vm.asset.purchase_date = null
			this.$snipeit
				.patch("hardware/" + vm.$route.params.id.substring(1), vm.asset)

				.then(response => {
					console.log(response.data)
					vm.asset = response.data
					this.success = true
				})
				.catch(e => {
					console.log(e)
					this.error = e
					console.log(e)
				})
			// var form = $("#create-form").get(0);
			// var formData = $('#create-form').serializeArray();
			// formData.push({name: 'image', value: imageData});
			// $.ajax({
			//     type: 'POST',
			//     url: form.action,
			//     headers: {
			//         "X-Requested-With": 'XMLHttpRequest',
			//         "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr('content')
			//     },
			//     data: formData,
			//     dataType: 'json',
			//     success: function (data) {
			//         // console.dir(data);
			//         // AssetController flashes success to session, redirect to hardware page.
			//         if (data.redirect_url) {
			//             window.location.href = data.redirect_url;
			//             return true;
			//         }
			//         window.location.reload(true);
			//         return false;
			//     },
			//     error: function (data) {
			//         // AssetRequest Validator will flash all errors to session, this just refreshes to see them.
			//         window.location.reload(true);
			//         // console.log(JSON.stringify(data));
			//         // console.log('error submitting');
			//     }
			// });
			// return false;
		},
	},
}
</script>