<script>
import accounting from "accounting"
import moment from "moment"
import Vue from "vue"
import VueEvents from "vue-events"
import Vuetable from "vuetable-2/src/components/Vuetable"
import VuetablePagination from "vuetable-2/src/components/VuetablePagination"
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo"
import CustomActions from "./CustomActions"
import FilterBar from "./FilterBar"

Vue.use(VueEvents)
Vue.component("custom-actions", CustomActions)
Vue.component("filter-bar", FilterBar)
var token =
	"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjY4Zjg1MzAzNDlhMDhlNzAwODYyYzcwNDM5OTRjMDhhNTBlMWI2NGE0ZWYxNjA0NjM3ZjcwNjc4Y2QyYjViMmQyM2NmNTU0NzExYmMwNTg5In0.eyJhdWQiOiIxIiwianRpIjoiNjhmODUzMDM0OWEwOGU3MDA4NjJjNzA0Mzk5NGMwOGE1MGUxYjY0YTRlZjE2MDQ2MzdmNzA2NzhjZDJiNWIyZDIzY2Y1NTQ3MTFiYzA1ODkiLCJpYXQiOjE1MTQ1MzE4OTYsIm5iZiI6MTUxNDUzMTg5NiwiZXhwIjoxNTQ2MDY3ODk2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.dyzpV0D-KkEcmPwTXXnCYkSbvKlqCBYDZMBgzNQvRz9ydgygOVEX8RcRigEjtAIYD4vquok1aq3SmHm_4ZNuOyux82sZt6HiucBJCWzZhWJ1t5sEeMuQaWB2hDxQEu8HbS-xRYl4df94BP_vJM-v-FfKCJ3x-QZaY6Srmu9m8hzZWGfG-U7jbBDxDV1RFMyD6506i0B1Z-cTrBBSY4q0V4Ke6JF7LYzX_sm3KoV6NOEjGqKtNqWwOOfCXfdwgsBV3GUCZCRDBdBXQSACBN8cUl5syalP9tIIuZ4Zzzcxff-4WzuEWwkQL5gYSX5bESG59NmEDFyGI7dmZXt9ytHOsQZGy0bOgRJkNtqAID1F-0TXduMr0pJzszRtVawqqrVWQ2oS2UvI8JKzv4F5c7m9A6l3G9i3CnWT5wgN8QLNsh0D7PlrmRQQl5P8D4WjxfHsvyKn7cp4oH605Rupbx6UG-TsFR4RoNQQ4xJW6zeNnIEOtPTFftJNNIxQnt4JDh2v8fd5hbg0MkDHjt-nflVvf53KfPnLR_gSqvyBZzmKXWAz8zbH_ISWLY7cywvmzA5qYtdr-UDetU7-KEwiSbVZH-FY4GYBlcDR4C35nC9CO1z_e8x-0p4WBjvDNYO7Q3UWt7U8EsnAXHGIKcNWO38zFJo0VHqgUCW7zBtwiPCAA5o"

export default {
	components: {
		Vuetable,
		VuetablePagination,
		VuetablePaginationInfo,
	},
	props: {
		apiUrl: {
			type: String,
			required: true,
		},
		fields: {
			type: Array,
			required: true,
		},
		httpOptions: {
			type: Object,
			required: true,
		},
		sortOrder: {
			type: Array,
			required: false,
			default() {
				return []
			},
		},
		appendParams: {
			type: Object,
			default() {
				return {}
			},
		},
		detailRowComponent: {
			type: String,
		},
	},
	data() {
		return {}
	},
	mounted() {
		this.$events.$on("filter-set", eventData => this.onFilterSet(eventData))
		this.$events.$on("filter-reset", e => this.onFilterReset())
	},
	render(h) {
		return h(
			"div",
			{
				class: { ui: true, container: true },
			},
			[h("filter-bar"), this.renderVuetable(h), this.renderPagination(h)],
		)
	},

	methods: {
		// render related functions
		renderVuetable(h) {
			return h("vuetable", {
				ref: "vuetable",
				props: {
					apiUrl: this.apiUrl,
					fields: this.fields,
					"data-path": "rows",
					httpOptions: this.httpOptions,
					paginationPath: "",
					perPage: 10,
					multiSort: true,
					sortOrder: this.sortOrder,
					appendParams: this.appendParams,
					detailRowComponent: this.detailRowComponent,
				},
				on: {
					"vuetable:cell-clicked": this.onCellClicked,
					"vuetable:pagination-data": this.onPaginationData,
				},
				scopedSlots: this.$vnode.data.scopedSlots,
			})
		},
		renderPagination(h) {
			return h(
				"div",
				{
					class: {
						"vuetable-pagination": true,
						ui: true,
						basic: true,
						segment: true,
						grid: true,
					},
				},
				[
					h("vuetable-pagination-info", { ref: "paginationInfo" }),
					h("vuetable-pagination", {
						ref: "pagination",
						on: {
							"vuetable-pagination:change-page": this
								.onChangePage,
						},
					}),
				],
			)
		},
		imageFormatter(value) {
			if (!value) {
				value =
					"https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png"
			}
			return (
				'<img src="' +
				value +
				'" style="max-height: 50px; width: auto;" class="img-responsive">'
			)
		},
		allcap(value) {
			return value.toUpperCase()
		},
		genderLabel(value) {
			return value === "M"
				? '<span class="ui teal label"><i class="large man icon"></i>Male</span>'
				: '<span class="ui pink label"><i class="large woman icon"></i>Female</span>'
		},
		formatNumber(value) {
			return accounting.formatNumber(value, 2)
		},
		formatDate(value, fmt = "D MMM YYYY") {
			return value == null ? "" : moment(value, "YYYY-MM-DD").format(fmt)
		},
		onPaginationData(paginationData) {
			this.$refs.pagination.setPaginationData(paginationData)
			this.$refs.paginationInfo.setPaginationData(paginationData)
		},
		onChangePage(page) {
			this.$refs.vuetable.changePage(page)
		},
		onCellClicked(data, field, event) {
			console.log("cellClicked: ", field.name)
			this.$refs.vuetable.toggleDetailRow(data.id)
		},
		onFilterSet(filterText) {
			this.appendParams.filter = filterText
			Vue.nextTick(() => this.$refs.vuetable.refresh())
		},
		onFilterReset() {
			delete this.appendParams.filter
			Vue.nextTick(() => this.$refs.vuetable.refresh())
		},
	},
}
</script>