<template>
  <div id="consumables">

    <my-vuetable
      api-url="http://168.235.96.46:8080/api/v1/consumables?&page=1&per_page=10"
      :fields="fields"
      :sort-order="sortOrder"
	  data-path="rows"
      :http-options="httpOptions"	 
	  pagination-path="" 
      detail-row-component="my-detail-row"
    >
      <template slot="actions3" scope="props">
        <div class="custom-actions">
          <span  v-if="props.rowData.assigned_to">
          <a class="button is-success" @click="onAction2(props)">
    <span class="icon is-small">
      <i class="fa fa-sign-in"></i>
    </span>
    <span>Checkin</span>
  </a>
				</span>
        </div>
      </template> 
 

      <template slot="actions2" scope="props">
        <div class="custom-actions">
					  <a class="button is-success" @click="onAction('view-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-search"></i>
    </span> </a>
        
       				  <a class="button is-success" @click="onAction('edit-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-edit"></i>
    </span> </a>
          				  <a class="button is-danger" @click="onAction('delete-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-trash"></i>
    </span> </a>
        </div>
      </template>
    </my-vuetable>

		    <div class="modal" v-bind:class="{ 'modal is-active': isActive }" id="modal-info">

  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <!-- <p class="modal-card-title">Modal title</p> -->
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    <div class="form-group">
                  <label>Select</label>
                    <v-select v-model="selected" :options="selectOptions"></v-select>

                </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="onAction3()">Save changes</button>
      <button class="button" @click="isActive = false">Cancel</button>
    </footer>
  </div>
</div>

  </div>
</template>

<script>
import Vue from "vue"
import FieldDefs from "./consumables/FieldDefs.js"
import MyVuetable from "./consumables/MyVuetable"
import DetailRow from "./consumables/DetailRowConsume"
import vSelect from "vue-select"
import router from "../../router"
Vue.component("my-detail-row", DetailRow)

var token =
	"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjY4Zjg1MzAzNDlhMDhlNzAwODYyYzcwNDM5OTRjMDhhNTBlMWI2NGE0ZWYxNjA0NjM3ZjcwNjc4Y2QyYjViMmQyM2NmNTU0NzExYmMwNTg5In0.eyJhdWQiOiIxIiwianRpIjoiNjhmODUzMDM0OWEwOGU3MDA4NjJjNzA0Mzk5NGMwOGE1MGUxYjY0YTRlZjE2MDQ2MzdmNzA2NzhjZDJiNWIyZDIzY2Y1NTQ3MTFiYzA1ODkiLCJpYXQiOjE1MTQ1MzE4OTYsIm5iZiI6MTUxNDUzMTg5NiwiZXhwIjoxNTQ2MDY3ODk2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.dyzpV0D-KkEcmPwTXXnCYkSbvKlqCBYDZMBgzNQvRz9ydgygOVEX8RcRigEjtAIYD4vquok1aq3SmHm_4ZNuOyux82sZt6HiucBJCWzZhWJ1t5sEeMuQaWB2hDxQEu8HbS-xRYl4df94BP_vJM-v-FfKCJ3x-QZaY6Srmu9m8hzZWGfG-U7jbBDxDV1RFMyD6506i0B1Z-cTrBBSY4q0V4Ke6JF7LYzX_sm3KoV6NOEjGqKtNqWwOOfCXfdwgsBV3GUCZCRDBdBXQSACBN8cUl5syalP9tIIuZ4Zzzcxff-4WzuEWwkQL5gYSX5bESG59NmEDFyGI7dmZXt9ytHOsQZGy0bOgRJkNtqAID1F-0TXduMr0pJzszRtVawqqrVWQ2oS2UvI8JKzv4F5c7m9A6l3G9i3CnWT5wgN8QLNsh0D7PlrmRQQl5P8D4WjxfHsvyKn7cp4oH605Rupbx6UG-TsFR4RoNQQ4xJW6zeNnIEOtPTFftJNNIxQnt4JDh2v8fd5hbg0MkDHjt-nflVvf53KfPnLR_gSqvyBZzmKXWAz8zbH_ISWLY7cywvmzA5qYtdr-UDetU7-KEwiSbVZH-FY4GYBlcDR4C35nC9CO1z_e8x-0p4WBjvDNYO7Q3UWt7U8EsnAXHGIKcNWO38zFJo0VHqgUCW7zBtwiPCAA5o"

export default {
	name: "consumables",
	components: {
		MyVuetable,
		vSelect,
	},
	data() {
		return {
			fields: FieldDefs,
			isActive: false,
			checkOutID: "",
			selected: null,
			selectOptions: [],
			sortOrder: [
				{
					field: "email",
					sortField: "email",
					direction: "asc",
				},
			],
			httpOptions: {
				headers: {
					Authorization: "Bearer " + token,
					Accept: "application/json",
				},
			},
		}
	},
	created() {
		this.setOptions()
	},
	methods: {
		checkoutConsumable: function(val) {
			console.log(this.$refs.vuetable)
			this.checkOutID = val
		},
		setOptions: function() {
			var vm = this
			this.$snipeit
				.get("users")
				.then(response => {
					console.log(response.data.rows)
					// this.userList = response.data.rows
					if (response.data.rows.length > 0) {
						vm.selectOptions = []
					}

					for (var user of response.data.rows) {
						var item = {}
						;(item.label = user.name), (item.value = user.id)
						vm.selectOptions.push(item)
					}
				})
				.catch(e => {
					console.log(e)
				})
		},
		onAction3() {
			console.log(this.selected)
			console.log(this.checkOutID)
			this.$snipeit
				// /consumables/2/checkout/op=get&id=3326c97a80fe4db9c196169078c567af
				.post(
					"consumables/" +
						this.checkOutID +
						"/checkout?assigned_to=" +
						this.selected.value,
				)
				.then(response => {
					console.log(response)
					this.selected = null
					router.go({
						path: "/consumables",
						force: true,
					})
				})
				.catch(e => {
					console.log(e)
				})
		},
		onAction2(val) {
			this.checkOutID = val.rowData.id
			console.log(val.rowData.assigned_to)

			console.log(this.checkOutID)
			this.isActive = true
		},
		onAction(action, data, index) {
			console.log("slot action: " + action, data, index)
			router.push("/consumables/:1") // Redirect to home after logout
		},
		customFieldsFormatter(value, row) {
			if (!this || !this.title) {
				return ""
			}

			var field_column = this.title

			// Pull out any HTMl that might be passed via the presenter
			// (for example, the locked icon for encrypted fields)
			var field_column_plain = field_column.replace(
				/<(?:.|\n)*?> ?/gm,
				"",
			)
			if (row.custom_fields && row.custom_fields[field_column_plain]) {
				// If the field type needs special formatting, do that here
				if (
					row.custom_fields[field_column_plain].field_format &&
					row.custom_fields[field_column_plain].value
				) {
					if (
						row.custom_fields[field_column_plain].field_format ==
						"URL"
					) {
						return (
							'<a href="' +
							row.custom_fields[field_column_plain].value +
							'" target="_blank" rel="noopener">' +
							row.custom_fields[field_column_plain].value +
							"</a>"
						)
					} else if (
						row.custom_fields[field_column_plain].field_format ==
						"EMAIL"
					) {
						return (
							'<a href="mailto:' +
							row.custom_fields[field_column_plain].value +
							'">' +
							row.custom_fields[field_column_plain].value +
							"</a>"
						)
					}
				}
				return row.custom_fields[field_column_plain].value
			}
		},

		createdAtFormatter(value) {
			if (value && value.date) {
				return value.date
			}
		},

		groupsFormatter(value) {
			if (value) {
				var groups = ""
				for (var index in value.rows) {
					groups +=
						'<a href="http://168.235.96.46:8080/admin/groups/' +
						value.rows[index].id +
						'" class="label label-default"> ' +
						value.rows[index].name +
						"</a> "
				}
				return groups
			}
		},

		changeLogFormatter(value) {
			var result = ""
			for (var index in value) {
				result +=
					index +
					": <del>" +
					value[index].old +
					'</del>  <i class="fa fa-long-arrow-right" aria-hidden="true"></i> ' +
					value[index].new +
					"<br>"
			}

			return result
		},

		deployedLocationFormatter(row, value) {
			return value.formatted
			// if (row && row != undefined) {
			// 	return (
			// 		'<a href="http://168.235.96.46:8080/locations/' +
			// 		row.id +
			// 		'"> ' +
			// 		row.name +
			// 		"</a>"
			// 	)
			// } else if (value.rtd_location) {
			// 	return (
			// 		'<a href="http://168.235.96.46:8080/locations/' +
			// 		value.rtd_location.id +
			// 		'" data-tooltip="true" title="Default Location"> ' +
			// 		value.rtd_location.name +
			// 		"</a>"
			// 	)
			// }
		},

		groupsAdminLinkFormatter(value, row) {
			return (
				'<a href="http://168.235.96.46:8080/admin/groups/' +
				row.id +
				'"> ' +
				value +
				"</a>"
			)
		},

		trueFalseFormatter(value, row) {
			if (value && (value == "true" || value == "1")) {
				return '<i class="fa fa-check text-success"></i>'
			} else {
				return '<i class="fa fa-times text-danger"></i>'
			}
		},

		dateDisplayFormatter(value, row) {
			if (value) {
				return value.formatted
			}
		},

		iconFormatter(value, row) {
			if (value) {
				return '<i class="' + value + '"></i>'
			}
		},

		emailFormatter(value, row) {
			if (value) {
				return '<a href="mailto:' + value + '"> ' + value + "</a>"
			}
		},

		linkFormatter(value, row) {
			if (value) {
				return '<a href="' + value + '"> ' + value + "</a>"
			}
		},

		assetCompanyFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?company_id=' +
					row.id +
					'"> ' +
					value +
					"</a>"
				)
			}
		},

		assetCompanyObjFilterFormatter(value, row) {
			if (row && row.company) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?company_id=' +
					row.company.id +
					'"> ' +
					row.company.name +
					"</a>"
				)
			}
		},

		usersCompanyObjFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/users/?company_id=' +
					row.id +
					'"> ' +
					value +
					"</a>"
				)
			} else {
				return value
			}
		},

		employeeNumFormatter(value, row) {
			if (row && row.assigned_to && row.assigned_to.employee_number) {
				return (
					'<a href="http://168.235.96.46:8080/users/' +
					row.assigned_to.id +
					'"> ' +
					row.assigned_to.employee_number +
					"</a>"
				)
			}
		},

		orderNumberObjFilterFormatter(value, row) {
			if (value) {
				return (
					'<a href="http://168.235.96.46:8080/hardware/?order_number=' +
					row.order_number +
					'"> ' +
					row.order_number +
					"</a>"
				)
			}
		},

		imageFormatter(value, row) {
			if (value) {
				return (
					'<img src="' +
					value +
					'" style="max-height: 50px; width: auto;" class="img-responsive">'
				)
			}
		},

		sumFormatter(data) {
			var field = this.field
			var total_sum = data.reduce(function(sum, row) {
				return sum + (parseFloat(row[field]) || 0)
			}, 0)
			return total_sum.toFixed(2)
		},
		genericCheckinCheckoutFormatter(destination) {
			return function(value, row) {
				// The user is allowed to check items out, AND the item is deployable
				if (
					row.available_actions.checkout == true &&
					row.user_can_checkout == true &&
					!row.assigned_to
				) {
					// case for licenses
					if (row.next_seat) {
						return (
							'<a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.next_seat +
							'/checkout" class="btn btn-sm bg-maroon" data-tooltip="true" title="Check this item out to a user">Checkout</a>'
						)
					} else {
						return (
							'<a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.id +
							'/checkout" class="btn btn-sm bg-maroon" data-tooltip="true" title="Check this item out to a user">Checkout</a>'
						)
					}

					// The user is allowed to check items out, but the item is not deployable
				} else if (
					row.user_can_checkout == false &&
					row.available_actions.checkout == true &&
					!row.assigned_to
				) {
					return '<div  data-tooltip="true" title="This item has a status label that is undeployable and cannot be checked out at this time."><a class="btn btn-sm bg-maroon disabled">Checkout</a></div>'

					// The user is allowed to check items in
				} else if (row.available_actions.checkin == true) {
					if (row.assigned_to) {
						return (
							'<nobr><a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.id +
							'/checkin" class="btn btn-sm bg-purple" data-tooltip="true" title="Check this item in so it is available for re-imaging, re-issue, etc.">Checkin</a>'
						)
					} else if (row.assigned_pivot_id) {
						return (
							'<nobr><a href="http://168.235.96.46:8080/' +
							destination +
							"/" +
							row.assigned_pivot_id +
							'/checkin" class="btn btn-sm bg-purple" data-tooltip="true" title="Check this item in so it is available for re-imaging, re-issue, etc.">Checkin</a>'
						)
					}
				}
			}
		},
	},
}
</script>

<style>
#consumables {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	min-height: 700px;
}
.modal-card-body {
	min-height: 300px;
}
</style>