<template>
  <!-- <div class="components">
    <transition
      mode="out-in"
      enter-active-class="fadeIn"
      leave-active-class="fadeOut"
      appear>
      <router-view class="animated"></router-view>
    </transition>
  </div> -->
  <div>
    groupsx
  </div>
</template>
