<template>
  <div v-show="notLoading" id="hardware">

    <my-vuetable
      api-url="http://168.235.96.46:8080/api/v1/hardware?sort=email%7Casc&page=1&per_page=10"
      :fields="fields"
      :sort-order="sortOrder"
	  data-path="rows"
      :http-options="httpOptions"	 
	  pagination-path="" 
      detail-row-component="my-detail-row"
    >
      <template slot="actions" scope="props">
        <div class="custom-actions">
          <span  v-if="props.rowData.assigned_to">
        <!-- <button class="btn btn-sm bg-purple" data-tooltip="true" title="Check this item in so it is available for re-imaging, re-issue, etc." @click="onAction(props)"   >Checkin</button> -->
          <a class="button is-success" @click="onAction2(props)">
    <span class="icon is-small">
      <i class="fa fa-sign-in"></i>
    </span>
    <span>Checkin</span>
  </a>
				</span>
		 <span v-else>
 		 <a class="button is-primary" @click="onAction2(props)">
    <span class="icon is-small">
      <i class="fa fa-external-link"></i>
    </span>
    <span>Checkout</span>
  </a>
        </span>
        </div>
      </template> 
 

      <template slot="actions2" scope="props">
        <div class="custom-actions">
					  <a class="button is-success" @click="onAction('view-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-search"></i>
    </span> </a>
        
       				  <a class="button is-warning" @click="onAction('edit-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-edit"></i>
    </span> </a>
          				  <a class="button is-danger" @click="onAction('delete-item', props.rowData, props.rowIndex)">
    <span class="icon is-small">
      <i class="fa fa-trash"></i>
    </span> </a>
        </div>
      </template>
    </my-vuetable>

		    <div class="modal" v-bind:class="{ 'modal is-active': isActive }" id="modal-info">

  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <!-- <p class="modal-card-title">Modal title</p> -->
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
    <div class="form-group">
                  <label>Select</label>
                    <v-select v-model="selected" :options="selectOptions"></v-select>

                </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" @click="onAction3()">Save changes</button>
      <button class="button" @click="isActive = false">Cancel</button>
    </footer>
  </div>
</div>
		   
  </div>
</template>

<script>
import Vue from "vue"
import FieldDefs from "./hardware/FieldDefs.js"
import MyVuetable from "./hardware/MyVuetable"
import DetailRow from "./hardware/DetailRowHardware"
import vSelect from "vue-select"
import router from "../../router"
Vue.component("my-detail-row", DetailRow)
var token =
	"eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjY4Zjg1MzAzNDlhMDhlNzAwODYyYzcwNDM5OTRjMDhhNTBlMWI2NGE0ZWYxNjA0NjM3ZjcwNjc4Y2QyYjViMmQyM2NmNTU0NzExYmMwNTg5In0.eyJhdWQiOiIxIiwianRpIjoiNjhmODUzMDM0OWEwOGU3MDA4NjJjNzA0Mzk5NGMwOGE1MGUxYjY0YTRlZjE2MDQ2MzdmNzA2NzhjZDJiNWIyZDIzY2Y1NTQ3MTFiYzA1ODkiLCJpYXQiOjE1MTQ1MzE4OTYsIm5iZiI6MTUxNDUzMTg5NiwiZXhwIjoxNTQ2MDY3ODk2LCJzdWIiOiIxIiwic2NvcGVzIjpbXX0.dyzpV0D-KkEcmPwTXXnCYkSbvKlqCBYDZMBgzNQvRz9ydgygOVEX8RcRigEjtAIYD4vquok1aq3SmHm_4ZNuOyux82sZt6HiucBJCWzZhWJ1t5sEeMuQaWB2hDxQEu8HbS-xRYl4df94BP_vJM-v-FfKCJ3x-QZaY6Srmu9m8hzZWGfG-U7jbBDxDV1RFMyD6506i0B1Z-cTrBBSY4q0V4Ke6JF7LYzX_sm3KoV6NOEjGqKtNqWwOOfCXfdwgsBV3GUCZCRDBdBXQSACBN8cUl5syalP9tIIuZ4Zzzcxff-4WzuEWwkQL5gYSX5bESG59NmEDFyGI7dmZXt9ytHOsQZGy0bOgRJkNtqAID1F-0TXduMr0pJzszRtVawqqrVWQ2oS2UvI8JKzv4F5c7m9A6l3G9i3CnWT5wgN8QLNsh0D7PlrmRQQl5P8D4WjxfHsvyKn7cp4oH605Rupbx6UG-TsFR4RoNQQ4xJW6zeNnIEOtPTFftJNNIxQnt4JDh2v8fd5hbg0MkDHjt-nflVvf53KfPnLR_gSqvyBZzmKXWAz8zbH_ISWLY7cywvmzA5qYtdr-UDetU7-KEwiSbVZH-FY4GYBlcDR4C35nC9CO1z_e8x-0p4WBjvDNYO7Q3UWt7U8EsnAXHGIKcNWO38zFJo0VHqgUCW7zBtwiPCAA5o"

export default {
	name: "hardware",
	components: {
		MyVuetable,
		vSelect,
	},
	data() {
		return {
			fields: FieldDefs,
			isActive: false,
			checkOutID: "",
			selected: null,
			notLoading: false,
			selectOptions: [],
			sortOrder: [
				{
					field: "email",
					sortField: "email",
					direction: "asc",
				},
			],
			httpOptions: {
				headers: {
					Authorization: "Bearer " + token,
					Accept: "application/json",
				},
			},
		}
	},
	created() {
		this.setOptions()
	},
	methods: {
		imageFormatter(value, row) {
			if (value) {
				return (
					'<img src="' +
					value +
					'" style="max-height: 50px; width: auto;" class="img-responsive">'
				)
			}
		},
		checkoutAsset(val) {
			console.log(this.$refs.vuetable)
			this.checkOutID = val
		},
		setOptions: function() {
			var vm = this
			this.$snipeit
				.get("users")
				.then(response => {
					console.log(response.data.rows)
					// this.userList = response.data.rows
					if (response.data.rows.length > 0) {
						vm.selectOptions = []
					}

					for (var user of response.data.rows) {
						var item = {}
						;(item.label = user.name), (item.value = user.id)
						vm.selectOptions.push(item)
					}
				})
				.catch(e => {
					console.log(e)
				})
			this.notLoading = true
		},
		onAction3() {
			console.log(this.selected)
			console.log(this.checkOutID)
			this.$snipeit
				.post(
					"hardware/" +
						this.checkOutID +
						"/checkout?assigned_user=" +
						this.selected.value +
						"&assigned_asset=" +
						this.checkOutID +
						"&checkout_to_type=user",
				)
				.then(response => {
					console.log(response)
					this.selected = null
					// this.$refs.vuetable.refresh()
					router
						.go({
							path: "/hardware",
							force: true,
						})
						.then((this.notLoading = true))
				})
				.catch(e => {
					console.log(e)
				})
		},
		onAction2(val) {
			this.notLoading = false
			console.log("slot) action: ", val)
			this.checkOutID = val.rowData.id
			console.log(val.rowData.assigned_to)
			var vm = this
			if (val.rowData.assigned_to) {
				this.$snipeit
					.post("hardware/" + val.rowData.id + "/checkin")
					.then(response => {
						console.log(response)
						// vm.$refs.vuetable.refresh()
						router
							.go({
								path: "/hardware",
								force: true,
							})
							.then((this.notLoading = true))
						// this.notLoading = true
					})
					.catch(e => {
						console.log(e)
					})
			} else {
				this.notLoading = true
				// this.$nextTick(() => {
				console.log(this.checkOutID)
				vm.isActive = true
				// })
			}
		},
		onAction(action, data, index) {
			console.log("slot action: " + action, data, index)
			router.push("/hardwareedit/:1") // Redirect to home after logout
		},
	},
}
</script>

<style>
#hardware {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
	min-height: 700px;
}
.modal-card-body {
	min-height: 300px;
}
</style>