<template>
  <div class="columns is-desktop">
  <div class="column is-three-quarters-desktop">
		<gmap-map
  ref="map"
    :center="center"
    :zoom="20"
	gestureHandling="cooperative"
    style="height: 800px"
  >
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        {{infoContent}}
      </gmap-info-window>
    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="m.position"
      :clickable="true"
      :draggable="true"
	  @click="toggleInfoWindow(m,index)"
	   @mouseover="statusText = m.text"
        @mouseout="statusText = null"
    ></gmap-marker>
	 <div slot="visible">
        <div style="bottom: 0; left: 0; background-color: #0000FF; color: white; position: absolute; z-index: 100">
          {{statusText}}
        </div>
		</div>
  </gmap-map>
	</div>
  <div class="column">
		 <tabs animation="slide" :only-fade="false">

       <tab-pane label="Teams">
		 <div class="table-responsive">
            <table class="table is-striped is-narrow">
             
              <tbody>
              <tr v-for="tablet in tabletList">
                  <td class="is-icon">
                    <i class="fa fa-android"></i>
                  </td>
                  <td>
                    <a href="#">{{tablet.asset_tag}}</a>
                  </td>
                  <td v-if="tablet.assigned_to">
                    {{tablet.assigned_to.name}}
                  </td>
             <td v-else>
                   Not Assigned
                  </td>
				   <td>
                    <!-- <a href="#">{{tablet.mapslink}}</a> -->
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
		</tab-pane>
    <tab-pane label="Activity Feed">Activity Feed</tab-pane>
		
  </tabs>
	</div>
</div>

					<!-- <div class="columns is-desktop">
						  <div class="column">

				<template>
  <gmap-map
  ref="map"
    :center="center"
    :zoom="20"
	gestureHandling="cooperative"
    style="width: 900px; height: 600px"
  >
    <gmap-info-window :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
        {{infoContent}}
      </gmap-info-window>
    <gmap-marker
      :key="index"
      v-for="(m, index) in markers"
      :position="m.position"
      :clickable="true"
      :draggable="true"
	  @click="toggleInfoWindow(m,index)"
	   @mouseover="statusText = m.text"
        @mouseout="statusText = null"
    ></gmap-marker>
	 <div slot="visible">
        <div style="bottom: 0; left: 0; background-color: #0000FF; color: white; position: absolute; z-index: 100">
          {{statusText}}
        </div>
		</div>
  </gmap-map> -->
</template>
	</div>
 <div class="column">

  <tabs animation="slide" :only-fade="false">

       <tab-pane label="Teams">
		 <div class="table-responsive">
            <table class="table is-striped is-narrow">
             
              <tbody>
              <tr v-for="tablet in tabletList">
                  <td class="is-icon">
                    <i class="fa fa-android"></i>
                  </td>
                  <td>
                    <a href="#">{{tablet.asset_tag}}</a>
                  </td>
                  <td v-if="tablet.assigned_to">
                    {{tablet.assigned_to.name}}
                  </td>
             <td v-else>
                   Not Assigned
                  </td>
				   <td>
                    <!-- <a href="#">{{tablet.mapslink}}</a> -->
                  </td>
                </tr>
              
              </tbody>
            </table>
          </div>
		</tab-pane>
    <tab-pane label="Activity Feed">Activity Feed</tab-pane>
		
  </tabs>
</div>
	</div>
	</div>
</template>
<script>
// import Message from "vue-bulma-message"
import Vue from "vue"
import { Tabs, TabPane } from "vue-bulma-tabs"

import _ from "lodash"
// const MessageComponent = Vue.extend(Message)
import VueMqtt from "vue-mqtt"
import * as VueGoogleMaps from "vue2-google-maps"
Vue.use(VueMqtt, "ws://47.219.112.177:9883", {
	clientId: "WebClient-" + parseInt(Math.random() * 100000),
})

Vue.use(VueGoogleMaps, {
	load: {
		key: "AIzaSyB_Ftzz-99ieycbztRpQW-LMRZaBrlWgU0",
		// libraries: 'places', //// If you need to use place input
	},
})

export default {
	components: {
		VueGoogleMaps,
		Tabs,
		TabPane,
	},
	data() {
		return {
			tabletList: [],
			center: { lat: 32.3173189, lng: -95.2474412 },
			statusText: "",
			markers: [],
			infoContent: "",
			infoWindowPos: {
				lat: 0,
				lng: 0,
			},
			infoWinOpen: false,
			currentMidx: null,
			//optional: offset infowindow so it visually sits nicely on top of our marker
			infoOptions: {
				pixelOffset: {
					width: 0,
					height: -35,
				},
			},
			isloading: false,
			tabletUpdate: {},
		}
	},
	computed: {},
	mqtt: {
		"owntracks/+/+"(_data, topic) {
			var vm = this
			var data = _data.toString()
			var hardwareId = topic.substring(
				topic.indexOf("/") + 1,
				topic.indexOf("/", topic.indexOf("/") + 1),
			)
			this.tabletUpdate = {}
			this.tabletUpdate.id = hardwareId
			this.tabletUpdate.data = JSON.parse(data)
			this.updateTabletList()
		},
	},
	mounted: function() {
		this.$mqtt.subscribe("owntracks/#")
		this.updateTabletList()
	},
	watch: {
		markers(markers) {
			if (markers.length > 2) {
				const bounds = new google.maps.LatLngBounds()
				for (let m of markers) {
					bounds.extend(m.latLng)
				}
				this.$refs.map.$mapObject.fitBounds(bounds)
			}
		},
	},
	methods: {
		toggleInfoWindow(marker, idx) {
			this.infoWindowPos = marker.position
			this.infoContent = marker.infoText

			//check if its the same marker that was selected if yes toggle
			if (this.currentMidx == idx) {
				this.infoWinOpen = !this.infoWinOpen
			} else {
				//if different marker set infowindow to open and reset current marker index
				this.infoWinOpen = true
				this.currentMidx = idx
			}
		},
		updateMarker(tablet) {
			var existingMarker = _.find(this.markers, {
				title: tablet.asset_tag,
			})
			console.log(existingMarker)
			if (existingMarker) {
				console.log("exists already ")
				existingMarker.position = { lat: tablet.lat, lng: tablet.lon }
			} else {
				var contentString =
					'<div id="content">' +
					'<div id="siteNotice">' +
					"</div>" +
					'<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
					'<div id="bodyContent">' +
					"<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
					'<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
					"https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
					"(last visited June 22, 2009).</p>" +
					"</div>" +
					"</div>"

				// var infowindow = new google.maps.InfoWindow({
				// 	content: contentString,
				// })
				var marker = new google.maps.Marker({
					position: { lat: tablet.lat, lng: tablet.lon },
					// map: this.$VueGoogleMaps,
					title: tablet.asset_tag,
				})
				var _infoText = tablet.asset_tag
				if (tablet.assigned_to) {
					_infoText += " " + tablet.assigned_to.name
				} else {
					_infoText += " Not assigned"
				}
				marker.infoText = _infoText
				marker.text = contentString
				// marker.addListener("click", function() {
				// 	infowindow.open(map, marker)
				// })
				this.markers.push(marker)
			}
		},
		updateTabletListLocation() {
			var found = false

			for (var tablet of this.tabletList) {
				if (tablet.asset_tag == this.tabletUpdate.id) {
					found = true
					tablet.lat = this.tabletUpdate.data.lat
					tablet.lon = this.tabletUpdate.data.lon
					// var mapslink = '<a href="http://maps.google.com/?q=' + this.tabletUpdate.data.lat + ',' + this.tabletUpdate.data.lon + '">' + loc + '</a>';
					var mapslink =
						'<a href="http://maps.google.com/?q=' +
						this.tabletUpdate.data.lat +
						"," +
						this.tabletUpdate.data.lon +
						'">' +
						"loc" +
						"</a>"
					tablet.mapslink = mapslink
					this.updateMarker(tablet)
				}
			}
			if (!found) {
				console.log("tablet sent in mqtt data but is not in assets!")
			}
		},
		updateTabletList() {
			// var vm = this
			this.$snipeit
				.get("hardware")
				// .get("hardware?status=Deployed")
				.then(response => {
					// console.log(response.data.rows)
					this.tabletList = []
					for (var asset of response.data.rows) {
						if (asset.category.name == "Tablets") {
							if (
								!_.find(this.tabletList, {
									asset_tag: asset.asset_tag,
								})
							) {
								this.tabletList.push(asset)
							}
						}
					}
					this.updateTabletListLocation()
				})
				.catch(e => {
					console.log(e)
				})
		},
		generate() {
			const spread = Math.random() + 0.001

			this.center = {
				lat: 1.38 + (Math.random() - 0.5) * spread,
				lng: 103.8 + (Math.random() - 0.5) * spread,
			}

			this.markers = _.range(30).map(m => ({
				latLng: {
					lat: this.center.lat + (Math.random() - 0.5) * spread,
					lng: this.center.lng + (Math.random() - 0.5) * spread,
				},
			}))
		},

		// loadData() {
		// 	this.isloading = true
		// 	this.labels.length = 0
		// 	this.data.length = 0
		// 	this.$http({
		// 		url: api,
		// 		transformResponse: [
		// 			data => {
		// 				return JSON.parse(data.replace(/T00:00:00/g, ""))
		// 			},
		// 		],
		// 		params: {
		// 			parameters: {
		// 				Normalized: false,
		// 				NumberOfDays: parseInt(this.params.numberOfDays),
		// 				DataPeriod: this.params.dataPeriod,
		// 				Elements: [
		// 					{
		// 						Symbol: this.params.symbol,
		// 						Type: "price",
		// 						Params: ["c"],
		// 					},
		// 				],
		// 			},
		// 		},
		// 	})
		// 		.then(response => {
		// 			let dates = response.data.Dates
		// 			let price =
		// 				response.data.Elements[0].DataSeries.close.values
		// 			this.data.push(...price)
		// 			this.labels.push(...dates)
		// 			this.isloading = false
		// 		})
		// 		.catch(error => {
		// 			console.log(error)
		// 		})
		// },
	},
}
</script>

<style scoped>

</style>
