<table>
  <tr>
    <td title="Field #1">id</td>
    <td>4</td>
  </tr>
  <tr>
    <td title="Field #2">name</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #3">asset_tag</td>
    <td>00004</td>
  </tr>
  <tr>
    <td title="Field #4">serial</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #5">model/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #6">model/name</td>
    <td>Asus Tablet</td>
  </tr>
  <tr>
    <td title="Field #7">model_number</td>
    <td>ZenPad Z8s</td>
  </tr>
  <tr>
    <td title="Field #8">eol/date</td>
    <td>2024-01-01</td>
  </tr>
  <tr>
    <td title="Field #9">eol/formatted</td>
    <td>2024-01-01</td>
  </tr>
  <tr>
    <td title="Field #10">status_label/id</td>
    <td align="right">2</td>
  </tr>
  <tr>
    <td title="Field #11">status_label/name</td>
    <td>Ready to Deploy</td>
  </tr>
  <tr>
    <td title="Feld #12">status_label/status_meta</td>
    <td>deployable</td>
  </tr>
  <tr>
    <td title="Field #13">category/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #14">category/name</td>
    <td>Tablets</td>
  </tr>
  <tr>
    <td title="Field #15">manufacturer/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #16">manufacturer/name</td>
    <td>Asus</td>
  </tr>
  <tr>
    <td title="Field #17">supplier/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #18">supplier/name</td>
    <td>Verizon</td>
  </tr>
  <tr>
    <td title="Field #19">notes</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #20">order_number</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #21">Department</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #22">location/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #23">location/name</td>
    <td>City of Tyler</td>
  </tr>
  <tr>
    <td title="Field #24">rtd_location/id</td>
    <td>1</td>
  </tr>
  <tr>
    <td title="Field #25">rtd_location/name</td>
    <td>1</td>
  </tr>
  <tr>

    <td title="Field #27">assigned_to</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #28">warranty_montds</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #29">warranty_expires</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #30">created_at/datetime</td>
    <td>2018-02-16 12:05:50</td>
  </tr>
  <tr>
    <td title="Field #31">created_at/formatted</td>
    <td>2018-02-16 12:05 PM</td>
  </tr>
  <tr>
    <td title="Field #32">updated_at/datetime</td>
    <td>2018-02-16 12:05:50</td>
  </tr>
  <tr>
    <td title="Field #33">updated_at/formatted</td>
    <td>2018-02-16 12:05 PM</td>
  </tr>
  <tr>
    <td title="Field #34">last_audit_date</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #35">next_audit_date</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #36">deleted_at</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #37">purchase_date/date</td>
    <td> </td>
  </tr>
  <tr>

    <td title="Field #38">purchase_date/formatted</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #39">last_checkout</td>
    <td>2017-09-01</td>
  </tr>
  <tr>
    <td title="Field #40">expected_checkin</td>
    <td>2017-09-01</td>
  </tr>
  <tr>
    <td title="Field #41">purchase_cost</td>
    <td> </td>
  </tr>
  <tr>
    <td title="Field #42">user_can_checkout</td>
    <td>true</td>
  </tr>
  <tr>
    <td title="Field #46">available_actions/checkout</td>
    <td>true</td>
  </tr>
  <tr>
    <td title="Field #47">available_actions/checkin</td>
    <td>true</td>
  </tr>
  <tr>
    <td title="Field #48">available_actions/clone</td>
    <td>true</td>
  </tr>
  <tr>
    <td title="Field #49">available_actions/restore</td>
    <td>false</td>
  </tr>
  <tr>
    <td title="Field #50">available_actions/update</td>
    <td>true</td>
  </tr>
  <tr>
    <td title="Field #51">available_actions/delete</td>
    <td>true</td>
  </tr>
</table>