<template>
  <div class="content has-text-centered">
	  <h3>If you are seeing this: </h3>
	<div class="notification is-primary">
	  	I have disabled all but a few links in order to test one thing at a time. Currently only the Hardware portion of Assets and the user profile are open.  Not all features will be available to all people, so if you cannot do something like add a product it is probably due to access rights.  If you try to go to a page that I have cutoff you will simply return to this page.
	</div>
	<h3>Open pages:</h3>
		<div class="notification is-info">
				Hardware:  Needs serious testing and is not feature complete.  Have not brought in the detail pages and some of the management pages but will soon. 
		</div>
		<div class="notification is-warning">
  <button class="delete"></button>
  User Profile: I just threw this together so that people can log in.  It will remain under heavy development for the forseable future. 
		</div>
</div>
  </div>
</template>

<script>
export default {
	data() {
		return this.$store.state.pkg
	},
}
</script>

<style lang="scss" scoped>
.is-title {
	text-transform: capitalize;
}
</style>
