<template>
  <div>
          <!-- <article class="message is-warning">
  <div class="message-header">
 Notice
    <button class="delete" aria-label="delete"></button>
  </div>
  <div class="message-body">
This is the basis of the HR system, the "backend" is where all the work was done so not much to show yet.  Will release after other areas of the project are more stable
  </div>
</article> -->
    <div class="tile is-ancestor">
      <div class="tile is-parent is-vertical">
        <!-- <article class="is-child box">
          <p class="title">{{ user.displayName }}</p>
          <p class="subtitle">{{ user.photoURL }}</p>
          <p class="subtitle">{{ user.email }}</p>
          <!-- <LinkedAccounts></LinkedAccounts> 
        </article> -->
      </div>
<div class="container">
      <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Sheena Shrestha</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> </div>
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Department:</td>
                        <td>Programming</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>06/23/2013</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>01/24/1988</td>
                      </tr>
                   
                         <tr>
                             <tr>
                        <td>Gender</td>
                        <td>Female</td>
                      </tr>
                        <tr>
                        <td>Home Address</td>
                        <td>Kathmandu,Nepal</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr>
                        <td>Phone Number</td>
                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)
                        </td>
                           
                      </tr>
                     
                    </tbody>
                  </table>
                  
                  <a href="#" class="btn btn-primary">My Sales Performance</a>
                  <a href="#" class="btn btn-primary">Team Sales Performance</a>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
      <div class="row">
adsf
      </div>      
    </div>
   
      <!-- Main Column -->
      <div class="tile is-parent is-8 is-vertical">
        <article class="tile is-child box">
          <p class="title">Tasks</p>
          <Notes :completed="false"></Notes>
        </article>
        <article class="tile is-child box">
          <p class="title">Completed Tasks</p>
          <Notes :completed="true"></Notes>
        </article>
        <article class="tile is-child box">
          <p class="title">New Task</p>
          <NewNoteForm :preview="true"></NewNoteForm>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex"
import LinkedAccounts from "./LinkedAccounts"
import NewNoteForm from "./NewNoteForm"
import Notes from "./Notes"
export default {
	name: "user",
	components: {
		NewNoteForm,
		Notes,
		LinkedAccounts,
	},
	data() {
		return {
			title: "Users",
		}
	},
	computed: {
		...mapGetters({
			user: "user",
			notes: "notes",
		}),
	},
	mounted() {
		this.$store.dispatch("initNotesRef")
	},
}
</script>

<style lang="scss" scoped>

</style>
