<template>
  <section class="hero is-bold app-navbar animated" :class="{ slideInDown: show, slideOutDown: !show }">
    <div class="hero-head">
      <nav class="nav">
        <div class="nav-left">
           <transition name="scaleFade" mode="out-in">
            <a class="nav-item hero-brand">
              <img src="~assets/logo.svg" />
              &nbsp; <strong>Andrews</strong> Group
            </a>
          </transition>
          <!-- <transition name="scaleFade">
            <a class="nav-item hero-brand" style="color: #ffffff;"  v-if="authStatus" href="/">
              <img src="~assets/logo.svg" :alt="pkginfo.description">
              <tooltip :label="'v' + pkginfo.version" placement="right" type="success" size="small" :no-animate="true" :always="true" :rounded="true">
                <div class="is-hidden-mobile">
                  <span class="vue">Vue</span><strong class="admin">Admin</strong>
                </div>
              </tooltip>
            </a>
          </transition> -->
          <a class="nav-item is-hidden-tablet" @click="toggleSidebar({opened: !sidebar.opened})">
            <i class="fa fa-bars" aria-hidden="true" v-show="!sidebar.hidden"></i>
          </a>
          
        </div>
        <div class="nav-center">
         
        </div>
        <div class="nav-right is-flex" style="color: #ffffff;">
          <router-link v-if="!this.$store.state.auth.loggedIn"to="/login-firebase" class="nav-item">Login</router-link>
          <a v-if="this.$store.state.auth.loggedIn" @click="signOut" class="nav-item">Logout</a>
        </div>
      </nav>
    </div>
  </section>
</template>

<script>
import Tooltip from "vue-bulma-tooltip"
import { mapGetters, mapActions } from "vuex"

export default {
	components: {
		Tooltip,
	},

	props: {
		show: Boolean,
	},

	computed: mapGetters({
		pkginfo: "pkg",
		sidebar: "sidebar",
		authStatus: "authStatus",
	}),

	methods: {
		...mapActions(["toggleSidebar", "signOut"]),
		logout() {
			this.$auth.logout({
				redirect: "Home",
				makeRequest: false,
				// params: {},
				// success: function () {},
				// error: function () {},
				// etc...
			})
		},
	},
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/variables";

.app-navbar {
	position: fixed;
	min-width: 100%;

	z-index: 1024;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	.container {
		margin: auto 10px;
	}

	.nav-right {
		align-items: stretch;
		align-items: stretch;
		flex: 1;
		justify-content: flex-end;
		overflow: hidden;
		overflow-x: auto;
		white-space: nowrap;
	}

	// .nav-center {
	//   position: relative;
	//   .nav-item.hero-brand {
	//     position:absolute;
	//     top:5px;
	//   }
	// }
}
a.nav-item:not(.button) {
	color: #ffffff;
}
a.nav-item:not(.button) {
	color: #ffffff;
}
.hero .nav {
	// background: #ffffff;
	background-color: #3273dc;
	max-height: 50px;
}

.hero-brand {
	.vue {
		margin-left: 10px;
		color: #36ac70;
	}
	.admin {
		color: #ffffff;
	}
}

.scaleFade-enter-active,
.scaleFade-leave-active {
	opacity: 1;
	transform: scale(1);
	transition: all 0.25s ease-in-out;
}
.scaleFade-enter,
.scaleFade-leave-active {
	opacity: 0;
	transform: scale(1.1);
}
.slideUp-enter-active,
.slideUp-leave-active {
	opacity: 1;
	transform: translate(0, 0) scale(1);
	transition: all 0.25s ease-in-out;
}
.slideUp-enter,
.slideUp-leave-active {
	opacity: 0;
	transform: translate(0px, -100px) scale(0.6);
}
</style>
