<template>
  <aside class="menu app-sidebar animated" :class="{ slideInLeft: show, slideOutLeft: !show }">
    <!-- <p class="menu-label">
      <i v-if="loggedIn" class="fa fa-lock fa-lg"></i> General
    </p> -->
		<ul class="menu-list">
			<li> 
 <router-link name="Live Vievw" to="/liveview">Live View</router-link>   
			</li>
			<li>
 <router-link name="My Dashboard" to="/dashboard">My Dashboard</router-link>   
			</li>
		  <collapse accordion is-fullwidth>
    <collapse-item title="Assets">
			<li> 
 <router-link name="Hardware" to="/hardware">Hardware</router-link>   
				</li>
				<li>
 <router-link name="Consumables" to="/consumables">Consumables</router-link>   
				</li>
				<li>
 <router-link name="Groups" to="/groups">Groups</router-link>   

				</li>
 </collapse-item>
  </collapse>
	 <collapse accordion is-fullwidth>
    <collapse-item title="Employees">
			<li> 
 <router-link name="Profile" to="/profile">My Profile</router-link>   
				</li>
				<li>
 <router-link name="Applicants" to="/applicants">Applicants</router-link>   
				</li>
 </collapse-item>
  </collapse>
					<li> 
 <router-link name="Documents" to="/documents">Documents</router-link>   
			</li>
				<li> 
 <router-link name="Settings" to="/settings">Settings</router-link>   
			</li>
						<li> 
 <router-link name="Logs" to="/logs">Logs</router-link> 
			</li>
									<!-- <li> 
 <router-link name="Tables" to="/tables">Tables</router-link> 
			</li> -->
			<button class="ic-button" data-address="welcome@junctionnetworks.com" disabled>Click to Call</button>
		</ul>
	
  </aside>
</template>
<script src="http://insta.onsip.com/call/js/popup.js"></script>

<script>
import Expanding from "vue-bulma-expanding"
import { mapGetters, mapActions } from "vuex"
import { Collapse, Item as CollapseItem } from "vue-bulma-collapse"

export default {
	components: {
		Expanding,
		Collapse,
		CollapseItem,
	},

	props: {
		show: Boolean,
	},

	data() {
		return {
			isReady: false,
		}
	},

	mounted() {
		let route = this.$route
		if (route.name) {
			this.isReady = true
			this.shouldExpandMatchItem(route)
		}
	},

	computed: {
		...mapGetters({
			menu: "menuitems",
			loggedIn: "authStatus",
		}),
	},

	methods: {
		...mapActions(["expandMenu"]),

		isExpanded(item) {
			return item.meta.expanded
		},

		toggle(index, item) {
			this.expandMenu({
				index: index,
				expanded: !item.meta.expanded,
			})
		},

		shouldExpandMatchItem(route) {
			let matched = route.matched
			let lastMatched = matched[matched.length - 1]
			let parent = lastMatched.parent || lastMatched
			const isParent = parent === lastMatched

			if (isParent) {
				const p = this.findParentFromMenu(route)
				if (p) {
					parent = p
				}
			}

			if ("expanded" in parent.meta && !isParent) {
				this.expandMenu({
					item: parent,
					expanded: true,
				})
			}
		},

		generatePath(item, subItem) {
			return `${item.component ? item.path + "/" : ""}${subItem.path}`
		},

		findParentFromMenu(route) {
			const menu = this.menu
			for (let i = 0, l = menu.length; i < l; i++) {
				const item = menu[i]
				const k = item.children && item.children.length
				if (k) {
					for (let j = 0; j < k; j++) {
						if (item.children[j].name === route.name) {
							return item
						}
					}
				}
			}
		},
	},

	watch: {
		$route(route) {
			this.isReady = true
			this.shouldExpandMatchItem(route)
		},
	},
}
</script>

<style lang="scss">
@import "~bulma/sass/utilities/variables";
@import "~bulma/sass/utilities/mixins";

.app-sidebar {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	padding: 20px 0 50px;
	width: 180px;
	min-width: 45px;
	max-height: 100vh;
	height: calc(100% - 50px);
	z-index: 1024 - 1;
	background: #fff;
	box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
	overflow-y: auto;
	overflow-x: hidden;

	@include mobile() {
		transform: translate3d(-180px, 0, 0);
	}

	.icon {
		vertical-align: baseline;
		&.is-angle {
			position: absolute;
			right: 10px;
			transition: transform 0.377s ease;
		}
	}

	.menu-label {
		padding-left: 5px;
	}

	.menu-list {
		li a {
			&[aria-expanded="true"] {
				.is-angle {
					transform: rotate(180deg);
				}
			}
		}

		li a + ul {
			margin: 0 10px 0 15px;
		}
	}
}
</style>
